@font-face {
    font-family: "SEGA LOGO FONT";
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff2') format('woff2');
}

h3{
    color: #87d1cf;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sega{
    color: #0ccac4;
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
}
.scrollbar::-webkit-scrollbar {
    display: none;
}